<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>关于我</title><br />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../static/css/myself.css" th:href="@{/css/myself.css}"/>
		<style>
		</style>
	</head>
	<body>
		
		<!--  导航开始   -->
		<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment lf-pitch--mini lf-shadow-small" >
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">莫棄</h2>	
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini home icon"></i> 首页</a>
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini idea icon"></i>分类</a>
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini tags icon"></i>标签</a>
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini clone icon"></i>归档</a>
					<a href="#" class="active m-item item lf-mobile-hide"><i class="mini info icon"></i>关于我</a>
					<div class="m-item right item lf-mobile-hide">
						<div class="ui icon inverted transparent input ">
							<input type="text" placeholder="搜索...">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button lf-top-righgt lf-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<!--  导航结束  -->
		
		<!--  中间内容开始  -->
		 <div class="lf-container lf-padded-bigdistance animated fadeIn">
	 	     <div class="ui container">
		 	     <div class="ui stackable grid">
		 	     	<div class="eleven wide column">
		 	     		<div class="ui segment">
		 	     			<img src="https://picsum.photos/800/600?image=2"  class="ui rounded image"/>
		 	     		</div> 
		 	     	</div>
		 	     	<div class="five wide column">
		 	     		<div class="ui top attached segment">
		 	     			<div class="ui header">关于我</div>
		 	     		</div>
		 	     		<div class="ui attached segment">
		 	     			<p class="lf-text-thin" >
		 	     			  <div style="color: gray !important;">	
			 	     				<p>姓名：莫棄 </p>
									<p>Q Q：2740640064</p>
									<p>职业：java大数据工程师</p>
									<p>爱好：旅游、K歌</p>
									<p>喜欢的歌手：李健、李健...</p>
									<p>喜欢的音乐：父亲写的散文诗，呵呵！</p>
									<p>人生格言：终有轻舟越过万重山</p>
							  </div>
		 	     			</p>
		 	     		</div>
		 	     		<div class="ui attached segment">
		 	     			<div class="ui orange left pointing basic label">编程</div>
		 	     			<div class="ui orange left pointing basic label">音乐</div>
		 	     			<div class="ui orange left pointing basic label">思考</div>
		 	     			<div class="ui orange left pointing basic label">运动</div>
		 	     		</div>
		 	     		<div class="ui attached segment">
		 	     			<div class="ui teal left pointing basic label lf-margin-tb-tiny">java</div>
		 	     			<div class="ui teal left pointing basic label lf-margin-tb-tiny">javascript</div>
		 	     			<div class="ui teal left pointing basic label lf-margin-tb-tiny">hadoop</div>
		 	     			<div class="ui teal left pointing basic label lf-margin-tb-tiny">mysql</div>
		 	     			<div class="ui teal left pointing basic label lf-margin-tb-tiny">redis</div>
		 	     		</div>
		 	     		<div class="ui bottom center aligned attached segment">
		 	     			<a class="ui circular icon button"><i class="github icon"></i></a>
		 	     			<a class="ui wechat circular icon button"><i class="weixin icon"></i></a>
		 	     			<a class="ui qq circular icon button" data-content="2740640064"><i class="qq icon"></i></a>
		 	     		</div>
		 	     		<div class="ui wechat-qr flowing popup  transition hidden ">
		 	     			<img  src="../static/images/lf-wechat.jpg" class="ui rounded image" style="width: 100px;"/>
		 	     		</div>
		 	     	</div>
		 	     </div>
	 	     </div>
		 </div>
		<!--  中间内容结束  -->
		<br>
		<br>
		<!-- 底部开始  -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment lf-padded-maxdistance">
			<div class="ui center aligned container stackable">
				<div class="ui inverted divided grid stackable">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../static/images/lf-wechat.jpg" class="ui rounded image" style="width: 110px;"/>
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header lf-text-thin lf-text-space lf-text-lined ">最新博客</h4>
						<div id="newblog-container">
							<div class="ui inverted link list" th:fragment="newBlogList">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${newBlogs}" th:text="${blog.title}">支持自定义定义</a> 
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header lf-text-thin lf-text-space lf-text-lined ">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 2740640064@qq.com</a>
							<a href="#" class="item">QQ: 2740640064</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header lf-text-thin lf-text-space lf-text-lined ">最新博客</h4>
						<p class="lf-text-thin lf-text-space lf-text-lined lf-opacity-mini">构建工具，性能日志记录，支持自定义定义，多层次的主题继承 - 开发人员的梦想。</p>
					</div>
				</div>
				<div class="ui inverted section divider "></div>
				<p class="lf-text-thin lf-text-space lf-text-lined lf-opacity-tiny">©2019Baidu 移动开放平台|服务协议|权利声明|版本更新|帮助中心|问题反馈|版权投诉</p>
			</div>
		</footer>
		<!-- 底部结束 -->
	<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>		
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>	
	
	<script>
		$(function(){
			$('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
		})
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('lf-mobile-hide');
		});
		$('.qq').popup({
			position : 'bottom center'
		});
		$('.wechat').popup({
			popup : $(".wechat-qr"),
			position : 'bottom center'
		})
		
		
		
	</script>
	</body>
</html>
