<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>归档页面</title><br />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../static/css/myself.css" th:href="@{/css/myself.css}"/>
		<style>
		</style>
	</head>
	<body>
		
		<!--  导航开始   -->
		<nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment lf-pitch--mini lf-shadow-small" >
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">莫棄</h2>	
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini home icon"></i> 首页</a>
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini idea icon"></i>分类</a>
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini tags icon"></i>标签</a>
					<a href="#" class="active m-item item lf-mobile-hide"><i class="mini clone icon"></i>归档</a>
					<a href="#" class="m-item item lf-mobile-hide"><i class="mini info icon"></i>关于我</a>
					<div class="m-item right item lf-mobile-hide">
						<div class="ui icon inverted transparent input ">
							<input type="text" placeholder="搜索...">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button lf-top-righgt lf-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<!--  导航结束  -->
		
		<!--  中间内容开始  -->
		 <div class="lf-container-small lf-padded-bigdistance animated fadeIn">
	 	   <div class="ui container">
	 	   		<!-- 分类头部开始 -->
				<div class="ui top attached padded segment">
					<div class="ui middle two column grid">
						<div class="column">
							<h3 class="ui teal header">归档</h3>
						</div>
						<div class="right aligned column">
							共 <h3 class="ui orange header lf-linie-block" th:text="${blogCount}"> 14 </h3> 篇博客
						</div>
					</div>
				</div>
				<!-- 分类头部结束 -->
				<th:block th:each="item : ${archiveMap}">
					<h3 class="ui center aligned header" th:text="${item.key}">2018</h3>
					<div class="ui fluid vertical menu ">
						<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
							<span>
								<i class="mini teal circle icon"></i><span th:text="${blog.title}">关于刻意练习的清单</span>
								<div class="ui teal basic left pointing label lf-padded-minitance" th:text="${#dates.format(blog.updateTime,'MMMdd')}">8月03</div>
							</span>
							<div class="ui orange basic left pointing label lf-padded-minitance" th:text="${blog.flag}">原创</div>
						</a>
					</div>
				</th:block>
	 	   </div>
		 </div>
		<!--  中间内容结束  -->
		<br>
		<br>
		<!-- 底部开始  -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment lf-padded-maxdistance">
			<div class="ui center aligned container stackable">
				<div class="ui inverted divided grid stackable">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../static/images/lf-wechat.jpg" class="ui rounded image " alt="关注我" style="width:110px"/>
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header lf-text-thin lf-text-space lf-text-lined ">最新博客</h4>
						<div id="newblog-container">
							<div class="ui inverted link list" th:fragment="newBlogList">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${newBlogs}" th:text="${blog.title}">支持自定义定义</a> 
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header lf-text-thin lf-text-space lf-text-lined ">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email: 2740640064@qq.com</a>
							<a href="#" class="item">QQ: 2740640064</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header lf-text-thin lf-text-space lf-text-lined ">最新博客</h4>
						<p class="lf-text-thin lf-text-space lf-text-lined lf-opacity-mini">构建工具，性能日志记录，支持自定义定义，多层次的主题继承 - 开发人员的梦想。</p>
					</div>
				</div>
				<div class="ui inverted section divider "></div>
				<p class="lf-text-thin lf-text-space lf-text-lined lf-opacity-tiny">©2019Baidu 移动开放平台|服务协议|权利声明|版本更新|帮助中心|问题反馈|版权投诉</p>
			</div>
		</footer>
		<!-- 底部结束 -->
	<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>		
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>	
	
	<script>
		$(function(){
			$('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
		})
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('lf-mobile-hide');
		})
	</script>
	</body>
</html>
